@using UnoEngine.Models

@if (!IsBack && Card != null)
{
    <div @onclick="OnClick" style="cursor: pointer; display: inline-block;">
        <UnoCardView Color="Card.Color" Value="Card.Value" SizeClass="w-24 h-36" Style="@Style" />
    </div>
}
else if (IsBack)
{
    <div class="uno-card card-back" @onclick="OnClick" style="@Style">
        <div class="card-content">
            <div class="white-oval">
                <span class="back-text">UNO</span>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public UnoCard? Card { get; set; }
    [Parameter] public bool IsBack { get; set; }
    [Parameter] public string Style { get; set; } = "";
    [Parameter] public EventCallback OnClick { get; set; }
}
